<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Assignment Grades</title>
  </head>
  <body>
    <h1>Assignments</h1>
    <table>
      <tr>
        <th>Assignment</th>
        <th>Score</th>
        <th>Total</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>

      {{#each assignments}}
        <tr>
          <td>{{name}}</td>
          <td>{{score}}</td>
          <td>{{total}}</td>
          <td>{{#if completed}}
              <img src="/check-mark-icon.jpg" alt="checkmark" />
            {{/if}}
          </td>
          <td><a href="/assignments/{{id}}/edit">Edit</a>
            <a href="/assignments/{{id}}/confirm-delete">Delete</a></td>
        </tr>
      {{/each}}

    </table>
    <h2>Overall Average: {{displayAverage}}%</h2>
    <a href="/assignments/add">Add an Assignment</a>
  </body>
</html>